Base path: /lu1/smagri/uni/subj/proj30cp/catkin_ws/src/a3_help
The specified base path "/lu1/smagri/uni/subj/proj30cp/catkin_ws/src/a3_help" contains a package but "catkin_make" must be invoked in the root of workspace
